################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/bin
/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/obj
/CrEST/Microsoft.CrEST.UI/.vs

/CrEST/Microsoft.Crest.Web.API/CrEST.API/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.API/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/obj
/CrEST/Microsoft.Crest.Web.API/.vs

/Me-supraja (1)/Me-supraja/CrEST
/CrEST/Microsoft.Crest.Web.API/CrEST.API/Views/Shared/Error.cshtml
/CrEST/Microsoft.Crest.Web.API/CrEST.API/Views/Shared/Layout.cshtml
/CrEST/Microsoft.Crest.Web.API/CrEST.API/Views/_ViewImports.cshtml
/CrEST/Microsoft.Crest.Web.API/CrEST.API/Views/_ViewStart.cshtml
/CrEST/Microsoft.Crest.Web.API/CrEST.API/bower.json
/CrEST/Microsoft.Crest.Web.API/CrEST.API/bundleconfig.json
/CrEST/Microsoft.Crest.Web.API/CrEST.API/ScaffoldingReadMe.txt
