################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/bin
/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/obj
/CrEST/Microsoft.CrEST.UI/.vs

/CrEST/Microsoft.Crest.Web.API/CrEST.API/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.API/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/obj
/CrEST/Microsoft.Crest.Web.API/.vs

/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/npm-debug.log
