################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/bin
/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/obj

/CrEST/Microsoft.Crest.Web.API/Microsoft.Crest.Web.API/obj
/CrEST/Microsoft.Crest.Web.API/Microsoft.Crest.Web.API/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.BL/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Data/obj
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/bin
/CrEST/Microsoft.Crest.Web.API/CrEST.Models/obj


