<div>
    <form>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button type="button" class="btn btn-default" (click)=redirect()>Back</button>
        </div>
        <div>Application Update Form</div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Supplier</label></div>
                    <div class=" col-xs-6">
                        <select class="form-control" name="supplierName"
                                [(ngModel)]="applicationData.supplierName"></select>
                        <!--<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" name="Supplier"></angular2-multiselect>-->

                        <!--<span *ngIf="applicationForm.controls['msowneralias'].hasError('required') && applicationForm.controls['msowneralias'].toukd" class="alert alert-danger">Please enter ms owner alias.</span>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="margin-top:10px">
                <div class="row">
                    <div class="col-xs-2"> <label>Contract ID</label></div>
                    <div class="col-xs-6">
                        <select class="form-control" required
                                [(ngModel)]="applicationData.contractId" name="ContractID"></select>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Service Line</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.serviceLine" name="firstName" />


                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Application</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.application" name="Application" />


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Owner Alias</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.ownerAlias" name="OwnerAlias" />


                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Service Class (Optional)</label></div>
                    <div class="col-xs-6">
                        <select class="form-control" name="Serviceclass"[(ngModel)]="applicationData.serviceClass"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Run vs Grow</label></div>
                    <div class="col-xs-6">
                        <select class="form-control" required
                                [(ngModel)]="applicationData.runvsgrow" name="Runvsgrow"></select>

                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Application Group</label></div>
                    <div class="col-xs-6">
                        <select class="form-control" required
                                [(ngModel)]="applicationData.applicationGroup" name="ApplicationGroup">
                            <!--<option value="volvo">Application Group 1</option>
                            <option value="saab">Application Group 2</option>
                            <option value="mercedes">Application Group 3</option>
                            <option value="audi">Application Group 4</option>-->
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Start Date</label></div>
                    <div class="col-xs-6">
                      
                        <my-date-picker name="startDate" [options]="myDatePickerOptions"
                                       (dateChanged)="onstartDateChanged($event)"  [(ngModel)]="applicationData.startDate"></my-date-picker>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>End Date</label></div>
                    <div class="col-xs-6" style="margin-top:12px">
                        <my-date-picker name="endDate" [options]="myDatePickerOptions"
                                        (dateChanged)="onendDateChanged($event)" [(ngModel)]="applicationData.endDate"></my-date-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>End to End (Y/N)</label></div>
                    <div class="col-xs-6">
                        <input type="checkbox" value="false" name="endToEnd" [(ngModel)]="applicationData.endToEnd" />
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>EPM (Y/N)</label></div>
                    <div class="col-xs-6">
                        <input type="checkbox" value="false"[(ngModel)]="applicationData.epm" name="EPM" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>T&M</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.tm" name="tm" />


                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Managed Capacity</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.managedCapacity" name="ManagedCapacity">


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Managed Services</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" [(ngModel)]="applicationData.managedServices" name="ManagedServices">


                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Software AssetSearch able ID</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="Software" [(ngModel)]="applicationData.softwareAssetSearchableId" />


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>Remarks</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="Remarks" [(ngModel)]="applicationData.remarks" />

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>IT-ORG</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="IT-ORG" [(ngModel)]="applicationData.itorg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>supplierId</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="supplierId" [(ngModel)]="applicationData.supplierId" />

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>supplierName</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="supplierName" [(ngModel)]="applicationData.supplierName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>SowId</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="sowId" [(ngModel)]="applicationData.sowId" />

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="margin-top:12px">
                    <div class="col-xs-2"> <label>TOrgName</label></div>
                    <div class="col-xs-6">
                        <input class="form-control" type="text" name="iTOrgName" [(ngModel)]="applicationData.iTOrgName" />

                    </div>
                </div>
            </div>

        </div>
        
        <input type="button" class="btn btn-default" (click)=initSubmit(applicationData) value="Submit" name="Submit">
    </form>
</div>