<div class="row">
    <div class="col-lg-12">
        <div class="page-header"> <a href="/">Dashboard</a> > SLA > Applications </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group row">
            <div class="col-lg-3">
                <input id="contactids" #varSearchcontactid type="text" [(ngModel)]='contactId' class="form-control" placeholder="Contract ID" />
                <auto-complete [tagId]="contactids" [values]='contactIdList|filterUser:contactId' [elementToBind]='varSearchcontactid' (notifyOnSelected)='notifyContactId($event)'> </auto-complete>
            </div>
            <div class="col-lg-3">
                <input class="form-control" id="serviceline" #varSearchserviceline type="text" [(ngModel)]='serviceLine' placeholder="Service Line" aria-label="Search User" />
                <auto-complete [tagId]='servicelines' [values]='servicelineList|filterUser:serviceLine' [elementToBind]='varSearchserviceline' (notifyOnSelected)='notifyServiceLine($event)'> </auto-complete>
            </div>

            <div class="col-lg-3">
                <input class="form-control" id="application" #varSearchapplication type="text" [(ngModel)]='application' placeholder="Application" aria-label="Application" />
                <auto-complete [tagId]='application' [values]='ApplicationLists|filterUser:application' [elementToBind]='varSearchapplication' (notifyOnSelected)='notifyApplication($event)'> </auto-complete>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="find()">Find</button>
            </div>

        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Applications
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <p>
                                Displaying {{ applicationList.length }} rows.
                            </p>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="fixed-action-btn">
                                <a class="btn btn-primary"
                                   routerLink="add" style="margin-bottom:2px">
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" *ngIf="applicationList.length>0" style="table-layout:fixed">
                        <thead class="tblHeader">
                            <tr>
                                <th>Supplier</th>
                                <th>Contract Id</th>
                                <th>Service Line</th>
                                <th>Application</th>
                                <th>Owner Alias</th>
                                <th>Service Class Name</th>
                                <th>Run Vs Grow</th>
                                <th>Application Group</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>End To End</th>
                                <th>EPM</th>
                                <th>T&M</th>
                                <th>Managed Capacity</th>
                                <th>Managed Services</th>
                                <th>Software Asset Searchable Id</th>
                                <th>Remarks</th>
                                <th>IT Org Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of applicationList | paginate: config" style="height:12px">
                                <td>{{item.supplierName}}</td>
                                <td>{{item.contractId}}</td>
                                <td>{{item.serviceLine}}</td>
                                <td>{{item.application}}</td>
                                <td>{{item.ownerAlias}}</td>
                                <td>{{item.serviceClassName}}</td>
                                <td>{{item.runOrGrowName}}</td>
                                <td>{{item.applicationGroup}}</td>
                                <td>{{item.startDate|date: 'MM-dd-yyyy'}}</td>
                                <td>{{item.endDate|date: 'MM-dd-yyyy'}}</td>
                                <td>{{item.endToEnd}}</td>
                                <td>{{item.epm}}</td>
                                <td>{{item.tM}}</td>
                                <td>{{item.managedCapacity}}</td>
                                <td>{{item.managedService}}</td>
                                <td>{{item.softwareAssetSearchableId}}</td>
                                <td>{{item.remarks}}</td>
                                <td>{{item.itOrgName}}</td>
                                <td>
                                    <a class="btn btn-primary" [routerLink]="[item.applicationId]">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="has-text-centered" *ngIf="applicationList.length>10">
                        <pagination-controls [id]="config.id"
                                             [maxSize]="maxSize"
                                             [directionLinks]="directionLinks"
                                             [autoHide]="autoHide"
                                             [previousLabel]="labels.previousLabel"
                                             [nextLabel]="labels.nextLabel"
                                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                             (pageChange)="onPageChange($event)" class="my-pagination"></pagination-controls>
                    </div>
                    <div *ngIf="applicationList.length==0">
                        <p>No Data Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
