<div class="row">
    {{sample}}
    <div class="col-lg-12">
        <div class="page-header"> <a href="/">Dashboard</a> > SLA > Services </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group row">
            <div class="col-lg-3">
                <input id="contractid" #varSearchcontactid type="text" [(ngModel)]='contractId' class="form-control" placeholder="Contract Id" />
                <auto-complete [tagId]="contractId" [values]='contactIdList|filterUser:contractId' [elementToBind]='varSearchcontactid' (notifyOnSelected)='notifyContactId($event)'>
                </auto-complete>

            </div>
            <div class="col-lg-3">
                <input id="application" #varSearchapplication type="text" [(ngModel)]='applicationgroup' class="form-control" placeholder="Application Group" />
                <auto-complete [tagId]='application' [values]='ApplicationLists|filterUser:applicationgroup' [elementToBind]='varSearchapplication' (notifyOnSelected)='notifyApplication($event)'>
                </auto-complete>
            </div>
            
            <div class="col-lg-2 fixed-action-btn">
                <a class="btn btn-primary" (click)="find()">Search</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Displaying {{ serviceList.length }} Services.
                </p>
            </div>
            <div class="col-lg-6 text-right">
                <div class="panel panel-default">
                    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                        <a class="btn btn-primary"
                           routerLink="/services/add">
                            Add
                        </a>
                    </div>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-field="name">Supplier</th>
                                    <th data-field="name">SCID</th>
                                    <th data-field="name">Contract ID</th>
                                    <th data-field="name">Application Group</th>
                                    <th data-field="name">CrEST Level-1 Service</th>
                                    <th data-field="name">CrEST Level-2 Service</th>
                                    <th data-field="name">CrEST Level-3 Service*</th>
                                    <th data-field="name">App Group Services Fee Yr 1</th>
                                    <th data-field="name">App Group Services Fee Yr 2</th>
                                    <th data-field="name">App Group Services Fee Yr 3</th>
                                    <th data-field="name">App Group Services Fee Yr 4</th>
                                    <th data-field="name">Validation Notes</th>
                                    <th data-field="name">Remarks</th>
                                    <th data-field="name">Currency</th>
                                    <th data-field="name">ItorgName</th>
                                    <th data-field="name"></th>


                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor="let service of serviceList">-->
                                <tr *ngFor="let service of serviceList|paginate: config" style="height:12px">
                                    <td>{{service.supplier}}</td>
                                    <td>{{ service.scid }}</td>
                                    <td>{{ service.contractId }}</td>
                                    <td>{{ service.applicationGroup }}</td>
                                    <td>{{ service.crestLevel1 }}</td>
                                    <td>{{ service.crestLevel2 }}</td>
                                    <td>{{ service.crestLevel3 }}</td>
                                    <td>{{ service.appGroupServiceFeeY1 }}</td>
                                    <td>{{ service.appGroupServiceFeeY2 }}</td>
                                    <td>{{ service.appGroupServiceFeeY3 }}</td>
                                    <td>{{ service.appGroupServiceFeeY4 }}</td>
                                    <td>{{ service.validationNotes }}</td>
                                    <td>{{ service.remarks }}</td>
                                    <td>{{ service.currency }}</td>
                                    <td>{{ service.itorgName }}</td>
                                    <td>
                                        <a class="btn btn-primary" [routerLink]="['/services', service.contractid]">Edit</a>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                        <div class="has-text-centered" style="background-color:cornflowerBlue" *ngIf="serviceList.length>10">
                            <pagination-controls [id]="config.id"
                                                 [maxSize]="maxSize"
                                                 [directionLinks]="directionLinks"
                                                 [autoHide]="autoHide"
                                                 [previousLabel]="labels.previousLabel"
                                                 [nextLabel]="labels.nextLabel"
                                                 [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                                 [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                                 [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                                 (pageChange)="onPageChange($event)" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>