<div class="row">
    <div class="col-lg-12">
        <div class="page-header"> <a href="/">Dashboard</a> > SLA > Sevice Level Performance </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group row pull-right">
            <div class="col-lg-3 col-sm-3 fixed-action-btn pull-right">
                <a class="btn btn-primary" (click)="Generate()">Generate for current period</a>
            </div>
            <div class="col-lg-3 col-sm-3 fixed-action-btn pull-right">
                <a class="btn btn-primary" (click)="AutoFill()">Autofill with previous period</a>
            </div>
            <div class="col-lg-3 col-sm-3 fixed-action-btn pull-right">
                <a class="btn btn-primary" (click)="ExportToExcel()">Export to excel</a>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Service Level Performance
                </div>
                <div class="panel-body">
                    <crest-handson [data]="data"
                                   (after-change)="afterChange($event)"
                                   [col-headers]="colHeaders"
                                   [columns]="columns"
                                   [options]="options"
                                   [col-widths]="colWidths">
                    </crest-handson>
                </div>
            </div>
        </div>
    </div>
</div>