<div class="row">
    <div class="col-lg-12">
        <div class="page-header"> <a href="/">Dashboard</a> > SLA > Sevice Level Performance </div>
    </div>
</div>
<div [ngClass]="{alert: true, 'alert-success alert-dismissable': MessageType == 1, 'alert-danger alert-dismissable': MessageType == 2 }" *ngIf="Message">
    {{Message}}
</div>
<div class="row">
    <div class="col-lg-12 well-lg">
        <div class="row well-lg">
            <div class="pull-left">
                <div class="col-lg-6 col-sm-6">
                    <label for="contractId">Reporting Period:</label>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <select class="form-control" [ngModel]="selectedPeriod" (ngModelChange)="onChange($event, this)">
                        <option *ngFor="let item of periods" [value]="item">
                            {{item.period}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="pull-right">
                <div class="col-lg-6 col-sm-6 fixed-action-btn">
                    <a class="btn btn-primary" (click)="Generate(currentSelectedPeriod)">Generate</a>
                </div>
                <div class="col-lg-6 col-sm-6 fixed-action-btn">
                    <a class="btn btn-primary" (click)="Save()">Save</a>
                </div>
            </div>
        </div>
        <div class="row well-lg">
            <hot-table id="slptable" [data]="data"
                       [col-headers]="colHeaders"
                       [columns]="columns"
                       [options]="options"
                       [col-widths]="colWidths"
                       (AfterValidate)="afterValidate($event)">
            </hot-table>
        </div>
    </div>
</div>